<template>
  <div class="content">
    <div class="content__todo">
      <div class="content__box">
          <div class="content__box__item">
             <div class="title">Danh mục</div>
                    <ul class="item" v-for="item in posts" :key="item.strName">
                      {{
                        item.strName
                      }}
                    </ul>
                  </div><!--listTodoItem-->
                <div class="content__box__item">
                  <div class="title">Bài viết mới</div>
                    <ul class="item" v-for="item in posts" :key="item.strName">
                      {{
                        item.strName
                      }}
                    </ul>
                  </div><!--listTodoItem-->
                </div>

                <div class="content__detail">
                <form
                  class="content__detail__form"
                  action="index.php"
                  v-on:submit="addItem"
                  novalidate="true"
                >
                <div class="content__detail__input">
                  <input
                    class="myinput"
                    type="text"
                    v-model="newTodo"
                    placeholder="Product Name"
                    name="newTodo"
                  /><!--the input-->
                </div>
                
                  <button class="addbtn" type="submit">Add</button><!--the button-->
                </form>
                <!--form-->
          <p class="content__detail__check--error" v-if="errors.length">
                    <ul>
                      <li class="error" v-for="(error,index) in errors" :key="index">{{ error }}
                      </li>
                    </ul>
                </p><!--the p-->

                  <h1
                    class="content__detail__item"
                    :id="item.intId"
                    v-for="item in posts"
                    :key="item.intId"
                  >
                    <span class="item">{{ item.strName }}</span>
                    <span class="close" v-on:click="deleteItem(item.intId)">
                      delete
                    </span>
                    <section v-if="item.strStatus == 1">
                      <span
                        class="status"
                        v-on:click="changeStatus(item.intId, item.strStatus)"
                      >
                        undone
                      </span>
                    </section>
                    <section v-else>
                      <span
                        class="status"
                        v-on:click="changeStatus(item.intId, item.strStatus)"
                        >done</span
                      >
                    </section>
                  </h1>
                </div><!--detailItem-->
              </div>
              <!--ListTodo-->
                  <div class="triangle"></div>

  </div>
  
</template>
<script>
import axios from "axios";
import * as FormData from "form-data";

export default {
  data() {
    return {
      errors: [],
      posts: [],
      newTodo: '',
    };
  },

  methods: {
    addItem(e) {
      this.errors = [];
      if (this.newTodo === '') {
        this.errors.push('input required.');
      }

      if (this.newTodo === "") {
        console.log("null");
      }else
      {
        this.posts.push({
        strName: this.newTodo,
      });
      var form = new FormData();
      form.append("strName", this.newTodo);
      axios
        .post(`http://localhost:8084/api.php?value=postData`, form, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          console.log(response);
          //this.posts = JSON.parse(response.data.data);
        })
        .catch((e) => {
          this.errors.push(e);
        });
      this.newTodo = "";
      }

      e.preventDefault();
      //window.location.reload();
    },

    deleteItem(index) {
      this.posts.splice(index, 1);
      var form = new FormData();
      form.append("intId", index);
      axios
        .post(`http://localhost:8084/api.php?value=deleteData`, form, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          console.log(response);
        })
        .catch((e) => {
          this.errors.push(e);
        });
      window.location.reload();
    },

    changeStatus(id, status) {
      if (status == 1) {
        status = 0;
      } else {
        status = 1;
      }
      var form = new FormData();
      form.append("status", status);
      form.append("id", id);

      axios
        .post(`http://localhost:8084/api.php?value=updateData`, form, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          console.log(response);
          //this.posts = JSON.parse(response.data.data);
        })
        .catch((e) => {
          this.errors.push(e);
        });
      // window.location.reload();
    },
  },

  // lấy dữ liệu khi component được tạo thành công
  created() {
    axios
      .get(`http://localhost:8084/api.php?value=getData`)
      .then((response) => {
        this.posts = JSON.parse(response.data.data);
      })
      .catch((e) => {
        this.errors.push(e);
      });
  },
};
</script>
