<template>
  <div class="tab">
    <div class="tab__container">
      <div class="trangchu">Trang Chu</div>
      <div class="danhmuc">Danh mục</div>
      <div class="tintuc">Tin tức</div>
      <div class="gioithieu">Giới thiệu</div>
    </div>
  </div>
</template>
