<template>
<div class="todo">
      <Tabar />
      <Input />
</div>
</template>
<script>
import Tabar from "./tabar";
import Input from "./body";

export default {
  name: "Todolist",
  props: {},
  components: {
    Tabar,
    Input,
  },
};
</script>
<style>
@import "../css/style.css";
</style>
