.todo {
  margin: 0;
  padding: 0;
}

.tab{
  border: 2px solid #afc4f1;
  background-color: #a585df;
}

.tab__container {
  display: flex;
  padding: 5px;
  margin: 5px;
}

.content__detail__form {
  display: flex;
  width: 666px;
}

.footer
{
  background-color: #a585df;
  height: 50px;
  padding-top: 10px;
  text-align: center;
}

.addbtn {
  border: solid 2px #a585df;
  border-radius: 14px;
  margin-right: 14px;
  margin-left: 6px;
  padding-left: 43px;
  padding-right: 33px;
}

.myinput {
  border: solid 2px #a585df;
  border-radius: 14px;
  height: 50px;
  width: 570px;
}

h1 {
  border: solid 1px;
  border-radius: 25px;
  flex-wrap: wrap;
  height: 50px;
  text-align: center;
}

.item {
  float: left;
  padding-left: 11px;
}

.close {
  float: right;
  margin-right: 13px;
  border: solid 2px #a585df;
  border-radius: 14px;
  font-size: 19px;
  margin-top: 13px;
}

.status {
  border: solid 2px #a585df;
  border-radius: 14px;
  margin-right: 20px;
  margin-top: 13px;
  float: right;
  font-size: 19px;
}

.error {
  display: flex;
}

.content__detail__item {
  border: solid 2px #a585df;
  border-radius: 14px;
  background-color: white;
  width: 683px;
}

.img {
  height: 250px;
  width: 960px;
}

.content .content__box__item {
  border: solid 1px;
  border: solid 2px #a585df;
  background-color: white;
  height: 250px;
  margin-bottom: 18px;
  text-align: center;
  width: 250px;
}

.title {
  border: 1px solid;
  height: 30px;
  padding-top: 10px;
}

.content .content__todo {
  display: flex;
  margin-top: 24px;
}

.content__detail {
  margin-left: 20px;
}

.triangle {
  width: 0;
  height: 0;
  display: flex;
  border-left: 1px solid transparent;
  border-right: 860px solid transparent;
  border-bottom: 678px solid #a585df;
  position: relative;
}
.content__detail__input{
  display: flex;
}
.header {
  border: 2px solid #e4e9fc;
  border-bottom-style: none;
}
.content__detail__check--error
{
  color: red;  
}

@media (max-width: 960px) {
  body {
    background-color: #e4e9fc;
  }
  .content  .content__todo {
    flex-wrap: wrap-reverse;
    display: flex;
    justify-content: center;
  }
  .content .content__box__item {
    width: 683px;
    margin-left: 20px;
  }
}

@media (min-width: 960px) {
  body {
    background-color: #e4e9fc;
  }
  .todo .tab .container {
    border-radius: 14px;
  }
}
