<template>
  <div id="app">
    <Header />
    <todolist/>
    <Footer/>
  </div>
</template>

<script>
import Todolist from './components/todolist.vue';
import Header from "./components/header";
import Footer from "./components/footer";

export default {
  name: 'App',
  components: {
    Todolist,
    Header,
    Footer
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
  border: 1px solid;
  width: 960px;
  margin: 0 auto;
  height: auto;
}
</style>
